# Missed Call Exploration for MLB Hitters 2023

## Finding Change in Run Expectancy for each Base-Out-Count-Pitch

In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install --upgrade pip setuptools wheel

Requirement already satisfied: pip in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (23.2.1)
Requirement already satisfied: setuptools in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (68.1.0)
Requirement already satisfied: wheel in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (0.41.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
!pip install pynacl

Requirement already satisfied: pynacl in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (1.5.0)
Requirement already satisfied: cffi>=1.4.1 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pynacl) (1.14.3)
Requirement already satisfied: pycparser in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from cffi>=1.4.1->pynacl) (2.20)

In [4]:
!pip install pybaseball

Requirement already satisfied: pybaseball in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (2.2.5)
Requirement already satisfied: numpy>=1.13.0 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (1.18.5)
Requirement already satisfied: pandas>=1.0.3 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (1.1.3)
Requirement already satisfied: beautifulsoup4>=4.4.0 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (4.9.3)
Requirement already satisfied: requests>=2.18.1 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (2.24.0)
Requirement already satisfied: lxml>=4.2.1 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (4.5.2)
Requirement already satisfied: pyarrow>=1.0.1 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (1.0.1)
Requirement already satisfied: pygithub>=1.51 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (1.59.1)
Requirement already satisfied: scipy>=1.4.0 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (1.5.2)
Requirement already satisfied: matplotlib>=2.0.0 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (3.3.1)
Requirement already satisfied: tqdm>=4.50.0 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (4.50.2)
Requirement already satisfied: attrs>=20.3.0 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (23.1.0)
Requirement already satisfied: soupsieve>1.2 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from beautifulsoup4>=4.4.0->pybaseball) (2.0.1)
Requirement already satisfied: certifi>=2020.06.20 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (2022.12.7)
Requirement already satisfied: cycler>=0.10 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (1.2.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (7.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pandas>=1.0.3->pybaseball) (2020.1)
Requirement already satisfied: deprecated in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pygithub>=1.51->pybaseball) (1.2.14)
Requirement already satisfied: pyjwt[crypto]>=2.4.0 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pygithub>=1.51->pybaseball) (2.8.0)
Requirement already satisfied: pynacl>=1.4.0 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pygithub>=1.51->pybaseball) (1.5.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests>=2.18.1->pybaseball) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests>=2.18.1->pybaseball) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests>=2.18.1->pybaseball) (1.25.11)
Requirement already satisfied: six in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=2.0.0->pybaseball) (1.15.0)
Requirement already satisfied: cryptography>=3.4.0 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pyjwt[crypto]>=2.4.0->pygithub>=1.51->pybaseball) (41.0.3)
Requirement already satisfied: cffi>=1.4.1 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pynacl>=1.4.0->pygithub>=1.51->pybaseball) (1.14.3)
Requirement already satisfied: wrapt<2,>=1.10 in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from deprecated->pygithub>=1.51->pybaseball) (1.12.1)
Requirement already satisfied: pycparser in /Users/johnnahra/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from cffi>=1.4.1->pynacl>=1.4.0->pygithub>=1.51->pybaseball) (2.20)

In [5]:
from pybaseball import statcast
from pybaseball import statcast_batter

In [6]:
from pybaseball import cache

cache.enable()

In [7]:
df_ids = pd.read_csv('player_ids.csv')

In [8]:
df_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3138 entries, 0 to 3137
Data columns (total 44 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IDPLAYER        3138 non-null   object
 1   PLAYERNAME      3138 non-null   object
 2   BIRTHDATE       3138 non-null   object
 3   FIRSTNAME       3138 non-null   object
 4   LASTNAME        3138 non-null   object
 5   TEAM            2077 non-null   object
 6   LG              2076 non-null   object
 7   POS             3138 non-null   object
 8   IDFANGRAPHS     3137 non-null   object
 9   FANGRAPHSNAME   3138 non-null   object
 10  MLBID           3137 non-null   float64
 11  MLBNAME         3137 non-null   object
 12  CBSID           3095 non-null   float64
 13  CBSNAME         3138 non-null   object
 14  RETROID         2228 non-null   object
 15  BREFID          3136 non-null   object
 16  NFBCID          2323 non-null   float64
 17  NFBCNAME        3134 non-null   object
 18  ESPNID          3085 non-null   float64
 19  ESPNNAME        3138 non-null   object
 20  KFFLNAME        418 non-null    object
 21  DAVENPORTID     3003 non-null   object
 22  BPID            3071 non-null   float64
 23  YAHOOID         3017 non-null   float64
 24  YAHOONAME       3095 non-null   object
 25  MSTRBLLNAME     2967 non-null   object
 26  BATS            3137 non-null   object
 27  THROWS          3137 non-null   object
 28  FANTPROSNAME    3138 non-null   object
 29  LASTCOMMAFIRST  3138 non-null   object
 30  ROTOWIREID      2779 non-null   float64
 31  FANDUELNAME     1471 non-null   object
 32  FANDUELID       1213 non-null   float64
 33  DRAFTKINGSNAME  1850 non-null   object
 34  OTTONEUID       2774 non-null   float64
 35  HQID            2378 non-null   float64
 36  RAZZBALLNAME    3137 non-null   object
 37  FANTRAXID       2727 non-null   object
 38  FANTRAXNAME     3137 non-null   object
 39  ROTOWIRENAME    3138 non-null   object
 40  ALLPOS          3138 non-null   object
 41  NFBCLASTFIRST   3135 non-null   object
 42  ACTIVE          3138 non-null   object
 43  UNDERDOG        1647 non-null   object
dtypes: float64(10), object(34)
memory usage: 1.1+ MB

In [9]:
df_ids = df_ids[['MLBID','MLBNAME']]

In [10]:
df_ids = df_ids.dropna()

In [11]:
df_ids['MLBID'] = df_ids['MLBID'].astype(int)

In [12]:
df = statcast(start_dt="2023-03-30", end_dt="2023-08-14",verbose=True)

This is a large query, it may take a moment to complete

100%|██████████| 138/138 [00:06<00:00, 22.01it/s]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 526003 entries, 1953 to 4406
Data columns (total 92 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   pitch_type                       525706 non-null  object
 1   game_date                        526003 non-null  datetime64[ns]
 2   release_speed                    525684 non-null  float64
 3   release_pos_x                    525704 non-null  float64
 4   release_pos_z                    525704 non-null  float64
 5   player_name                      526003 non-null  object
 6   batter                           526003 non-null  Int64
 7   pitcher                          526003 non-null  Int64
 8   events                           134829 non-null  object
 9   description                      526003 non-null  object
 10  spin_dir                         0 non-null       Int64
 11  spin_rate_deprecated             0 non-null       Int64
 12  break_angle_deprecated           0 non-null       Int64
 13  break_length_deprecated          0 non-null       Int64
 14  zone                             525704 non-null  Int64
 15  des                              526003 non-null  object
 16  game_type                        526003 non-null  object
 17  stand                            526003 non-null  object
 18  p_throws                         526003 non-null  object
 19  home_team                        526003 non-null  object
 20  away_team                        526003 non-null  object
 21  type                             526003 non-null  object
 22  hit_location                     117508 non-null  Int64
 23  bb_type                          91183 non-null   object
 24  balls                            526003 non-null  Int64
 25  strikes                          526003 non-null  Int64
 26  game_year                        526003 non-null  Int64
 27  pfx_x                            525704 non-null  float64
 28  pfx_z                            525704 non-null  float64
 29  plate_x                          525704 non-null  float64
 30  plate_z                          525704 non-null  float64
 31  on_3b                            50369 non-null   Int64
 32  on_2b                            100494 non-null  Int64
 33  on_1b                            161635 non-null  Int64
 34  outs_when_up                     526003 non-null  Int64
 35  inning                           526003 non-null  Int64
 36  inning_topbot                    526003 non-null  object
 37  hc_x                             91142 non-null   float64
 38  hc_y                             91142 non-null   float64
 39  tfs_deprecated                   0 non-null       Int64
 40  tfs_zulu_deprecated              0 non-null       Int64
 41  fielder_2                        526003 non-null  Int64
 42  umpire                           0 non-null       Int64
 43  sv_id                            0 non-null       Int64
 44  vx0                              525704 non-null  float64
 45  vy0                              525704 non-null  float64
 46  vz0                              525704 non-null  float64
 47  ax                               525704 non-null  float64
 48  ay                               525704 non-null  float64
 49  az                               525704 non-null  float64
 50  sz_top                           525704 non-null  float64
 51  sz_bot                           525704 non-null  float64
 52  hit_distance_sc                  174184 non-null  Int64
 53  launch_speed                     173273 non-null  float64
 54  launch_angle                     173518 non-null  Int64
 55  effective_speed                  525652 non-null  float64
 56  release_spin_rate                522973 non-null  Int64
 57  release_extension                524662 non-null  float64
 58  game_pk                          526003 non-null  Int64
 59  pitcher.1                        526003 non-null  Int64
 60  fielder_2.1                      526003 non-null  Int64
 61  fielder_3                        526003 non-null  Int64
 62  fielder_4                        526003 non-null  Int64
 63  fielder_5                        526003 non-null  Int64
 64  fielder_6                        526003 non-null  Int64
 65  fielder_7                        526003 non-null  Int64
 66  fielder_8                        526003 non-null  Int64
 67  fielder_9                        526003 non-null  Int64
 68  release_pos_y                    525704 non-null  float64
 69  estimated_ba_using_speedangle    90886 non-null   float64
 70  estimated_woba_using_speedangle  90886 non-null   float64
 71  woba_value                       134829 non-null  float64
 72  woba_denom                       134532 non-null  Int64
 73  babip_value                      134829 non-null  Int64
 74  iso_value                        134829 non-null  Int64
 75  launch_speed_angle               90886 non-null   Int64
 76  at_bat_number                    526003 non-null  Int64
 77  pitch_number                     526003 non-null  Int64
 78  pitch_name                       525706 non-null  object
 79  home_score                       526003 non-null  Int64
 80  away_score                       526003 non-null  Int64
 81  bat_score                        526003 non-null  Int64
 82  fld_score                        526003 non-null  Int64
 83  post_away_score                  526003 non-null  Int64
 84  post_home_score                  526003 non-null  Int64
 85  post_bat_score                   526003 non-null  Int64
 86  post_fld_score                   526003 non-null  Int64
 87  if_fielding_alignment            523815 non-null  object
 88  of_fielding_alignment            523815 non-null  object
 89  spin_axis                        522994 non-null  Int64
 90  delta_home_win_exp               526003 non-null  float64
 91  delta_run_exp                    525969 non-null  float64
dtypes: Int64(49), datetime64[ns](1), float64(26), object(16)
memory usage: 397.8+ MB

In [14]:
df = df.merge(df_ids,left_on='batter',right_on='MLBID')

In [15]:
df = df.drop('player_name',axis=1)

In [16]:
df = df.rename(columns={'MLBNAME':'player_name'})

In [17]:
df = df.loc[(df['description'] == 'called_strike') | (df['description'] == 'ball')]

In [18]:
df = df[df['delta_run_exp'].notna()]

In [19]:
df = df[df['zone'].notna()]

In [20]:
def batter_team(df):
    if df['inning_topbot'] == 'Top':
        return df['away_team']
    else:
        return df['home_team']

In [21]:
df['batter_team'] = df.apply(batter_team,axis=1)

In [22]:
df['player_name'] = df['player_name'] + '-' + df['batter_team']

In [23]:
df['events'].value_counts()

walk                          10334
strikeout                      6945
caught_stealing_2b              133
strikeout_double_play            17
pickoff_1b                        7
caught_stealing_home              6
wild_pitch                        5
pickoff_caught_stealing_2b        5
caught_stealing_3b                4
other_out                         3
pickoff_3b                        2
catcher_interf                    1
Name: events, dtype: int64

In [24]:
df = df.loc[(df['events']=='walk') | (df['events']=='strikeout') | (df['events'].isna())]

In [25]:
df['description'].value_counts()

ball             175058
called_strike     86086
Name: description, dtype: int64

In [26]:
df['count'] = df['balls'].astype(str) + '-' + df['strikes'].astype(str)

In [27]:
df['on_base'] = np.where(df['on_1b'].notna(),'1','_')

In [28]:
df['on_base'] = df['on_base'] + '-' + np.where(df['on_2b'].notna(),'2','_')

In [29]:
df['on_base'] = df['on_base'] + '-' + np.where(df['on_3b'].notna(),'3','_')

In [30]:
df_all_calls = df.groupby(by=['player_name','description'])['pitch_type'].count().reset_index().pivot_table('pitch_type',['player_name'],'description').reset_index()

In [31]:
df_all_calls.head(20)

description          player_name   ball  called_strike
0               A.J. Pollock-SEA  169.0           73.0
1                A.J. Pollock-SF   13.0            5.0
2                Aaron Hicks-BAL  247.0          141.0
3                Aaron Hicks-NYY  112.0           53.0
4                Aaron Judge-NYY  459.0          190.0
5            Abraham Almonte-NYM   11.0            6.0
6               Abraham Toro-MIL   17.0           18.0
7                Adam Duvall-BOS  260.0          153.0
8                  Adam Engel-SD    8.0            4.0
9               Adam Frazier-BAL  443.0          252.0
10              Adam Haseley-CWS   41.0           14.0
11           Adley Rutschman-BAL  777.0          441.0
12             Adolis Garcia-TEX  705.0          303.0
13               Akil Baddoo-DET  347.0          138.0
14                Alan Trejo-COL  208.0          101.0
15                 Alec Bohm-PHI  534.0          258.0
16             Alec Burleson-STL  283.0          142.0
17              Aledmys Diaz-OAK  263.0          145.0
18            Alejandro Kirk-TOR  408.0          272.0
19                Alek Thomas-AZ  303.0          178.0

In [32]:
df['pa'] = df['game_pk'].astype(str) + '-' + df['at_bat_number'].astype(str)

In [33]:
df_grouped = df.groupby(by=['on_base','outs_when_up','count','type'])['delta_run_exp'].agg(pd.Series.mode).to_frame().reset_index()

In [34]:
df_grouped.head()

  on_base  outs_when_up count type  delta_run_exp
0   1-2-3             0   0-0    B          0.101
1   1-2-3             0   0-0    S         -0.123
2   1-2-3             0   0-1    B          0.101
3   1-2-3             0   0-1    S         -0.147
4   1-2-3             0   0-2    B          0.119

## Finding All Missed Calls

In [35]:
def actual_strike(df):
    if df['zone'] > 10:
        return 'B'
    else:
        return 'S'

In [36]:
df['correct_type'] = df.apply(actual_strike,axis=1)

In [37]:
df_merged = df.merge(df_grouped,left_on=['on_base','outs_when_up','count','correct_type'],right_on=['on_base','outs_when_up','count','type'])

In [38]:
df_merged['missed_call_delta_run_exp'] = df_merged['delta_run_exp_x'] - df_merged['delta_run_exp_y']

In [39]:
df_merged['missed_call_delta_run_exp'].sum()

-188.21299999999997

In [40]:
df_mlb = df_merged[df_merged['missed_call_delta_run_exp']!=0].groupby(by=['player_name','correct_type']).count().reset_index().iloc[0:,0:3]

In [41]:
df_mlb.head()

        player_name correct_type  pitch_type
0  A.J. Pollock-SEA            B           9
1  A.J. Pollock-SEA            S           7
2   A.J. Pollock-SF            B           1
3   A.J. Pollock-SF            S           2
4   Aaron Hicks-BAL            B          13

In [42]:
df_mlb_pivoted = df_mlb.pivot_table('pitch_type', ['player_name'], 'correct_type')

In [43]:
df_mlb_pivoted.reset_index(inplace=True)

In [44]:
df_mlb_pivoted.head()

correct_type       player_name     B     S
0             A.J. Pollock-SEA   9.0   7.0
1              A.J. Pollock-SF   1.0   2.0
2              Aaron Hicks-BAL  13.0   9.0
3              Aaron Hicks-NYY  11.0   6.0
4              Aaron Judge-NYY  34.0  21.0

In [45]:
df_mlb_pivoted.fillna(0,inplace=True)

In [46]:
df_missed_and_total = df_mlb_pivoted.merge(df_all_calls,left_on='player_name',right_on='player_name')

In [47]:
df_missed_and_total.fillna(0,inplace=True)

In [48]:
df_missed_and_total.head()

        player_name     B     S   ball  called_strike
0  A.J. Pollock-SEA   9.0   7.0  169.0           73.0
1   A.J. Pollock-SF   1.0   2.0   13.0            5.0
2   Aaron Hicks-BAL  13.0   9.0  247.0          141.0
3   Aaron Hicks-NYY  11.0   6.0  112.0           53.0
4   Aaron Judge-NYY  34.0  21.0  459.0          190.0

In [49]:
df_runs = df_merged.groupby(by=['player_name','correct_type'])['missed_call_delta_run_exp'].sum().to_frame().reset_index().pivot_table('missed_call_delta_run_exp','player_name','correct_type').reset_index()

In [50]:
df_runs.rename(columns={'B':'missed_call_dre_B','S':'missed_call_dre_S'},inplace=True)

In [51]:
df_runs.head()

correct_type       player_name  missed_call_dre_B  missed_call_dre_S
0             A.J. Pollock-SEA             -1.096              0.934
1              A.J. Pollock-SF             -0.075              0.149
2              Aaron Hicks-BAL             -1.583              1.219
3              Aaron Hicks-NYY             -1.664              0.627
4              Aaron Judge-NYY             -4.257              2.557

In [52]:
df_missed_and_total_plus_runs = df_missed_and_total.merge(df_runs,left_on='player_name',right_on='player_name')

In [53]:
df_missed_and_total_plus_runs.head()

,player_name,B,S,ball,called_strike,missed_call_dre_B,missed_call_dre_S
0,A.J. Pollock-SEA,9.0,7.0,169.0,73.0,-1.096,0.934
1,A.J. Pollock-SF,1.0,2.0,13.0,5.0,-0.075,0.149
2,Aaron Hicks-BAL,13.0,9.0,247.0,141.0,-1.583,1.219
3,Aaron Hicks-NYY,11.0,6.0,112.0,53.0,-1.664,0.627
4,Aaron Judge-NYY,34.0,21.0,459.0,190.0,-4.257,2.557

In [54]:
df_batter_team = df[['player_name','batter_team']]

In [55]:
df_batter_team = df_batter_team.drop_duplicates()

In [56]:
df_mlb_pivoted = df_mlb_pivoted.merge(df_batter_team,how='left',left_on='player_name',right_on='player_name')

In [57]:
df_mlb_pivoted.head(25)

            player_name     B     S batter_team
0      A.J. Pollock-SEA   9.0   7.0         SEA
1       A.J. Pollock-SF   1.0   2.0          SF
2       Aaron Hicks-BAL  13.0   9.0         BAL
3       Aaron Hicks-NYY  11.0   6.0         NYY
4       Aaron Judge-NYY  34.0  21.0         NYY
5   Abraham Almonte-NYM   2.0   1.0         NYM
6      Abraham Toro-MIL   2.0   0.0         MIL
7       Adam Duvall-BOS  25.0  10.0         BOS
8      Adam Frazier-BAL  35.0  19.0         BAL
9      Adam Haseley-CWS   3.0   5.0         CWS
10  Adley Rutschman-BAL  62.0  27.0         BAL
11    Adolis Garcia-TEX  54.0  34.0         TEX
12      Akil Baddoo-DET  13.0  22.0         DET
13       Alan Trejo-COL  10.0  10.0         COL
14        Alec Bohm-PHI  17.0  29.0         PHI
15    Alec Burleson-STL  21.0  15.0         STL
16     Aledmys Diaz-OAK  12.0  11.0         OAK
17   Alejandro Kirk-TOR  36.0  23.0         TOR
18       Alek Thomas-AZ  18.0  26.0          AZ
19     Alex Bregman-HOU  61.0  33.0         HOU
20        Alex Call-WSH  42.0  25.0         WSH
21   Alex Kirilloff-MIN  27.0   8.0         MIN
22     Alex Verdugo-BOS  37.0  50.0         BOS
23    Alfonso Rivas-PIT   3.0   1.0         PIT
24     Alfonso Rivas-SD   0.0   2.0          SD

In [58]:
df_missed_and_total_plus_runs = df_missed_and_total_plus_runs.merge(df_batter_team,how='left',left_on='player_name',right_on='player_name')

In [59]:
df_missed_and_total_plus_runs.head()

,player_name,B,S,ball,called_strike,missed_call_dre_B,missed_call_dre_S,batter_team
0,A.J. Pollock-SEA,9.0,7.0,169.0,73.0,-1.096,0.934,SEA
1,A.J. Pollock-SF,1.0,2.0,13.0,5.0,-0.075,0.149,SF
2,Aaron Hicks-BAL,13.0,9.0,247.0,141.0,-1.583,1.219,BAL
3,Aaron Hicks-NYY,11.0,6.0,112.0,53.0,-1.664,0.627,NYY
4,Aaron Judge-NYY,34.0,21.0,459.0,190.0,-4.257,2.557,NYY

In [60]:
df_mlb_pivoted.to_csv('mlb_calls_pivoted.csv')

In [61]:
df_missed_and_total_plus_runs.to_csv('mlb_missed_and_total_calls_plus_runs.csv')